@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-background: #f3f5fc;
    --color-darkBlue: #0a3871;
    --color-ligthGray: #d8dfe8;
    --color-darkGray: #495057;
    --color-title-gray: #343A40;

    --font: 'Inter', sans-serif;
}



body{
    background-color: var(--color-background);
    font-family: var(--font);
}

.container{
    display: flex;
    justify-content: space-between;
}

.container__input{
    width: 80%;
    height: 650px;
    background-color: var(--color-background);
    margin: 20px;
}

.container__input__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    width: 80%;
    height: 90%;
    background-color: var(--color-background);
    margin-left: 15%;
} 

#text{
    width: 100%;
    height: 80%;
    background-color: var(--color-background);
    font: 400 2rem var(--font);
    color: var(--color-darkBlue);
    resize: none; 
    border: none;
    border-radius: 8px;
}

#text::placeholder{
    color: var(--color-darkBlue);
}

.container__input__area__text{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-right: auto;
    font-size: 0.8rem;
    color: var(--color-darkGray);
}

.container__input__area__buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--color-background);
    gap: 40px;
}

.button__encrypt{
    width: 328px;
    height: 67px;
    background-color: var(--color-darkBlue);
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 1rem;
    cursor: pointer;
}

.button__decrypt{
    width: 328px;
    height: 67px;
    background-color: var(--color-ligthGray);
    color: var(--color-darkBlue);
    border: #0a3871 1px solid;
    border-radius: 24px;
    font-size: 1rem;
    cursor: pointer;
}

.container__output{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27%;
    height: 650px;
    background-color: white;
    border-radius: 32px;
    margin: 20px;
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.1);
}

.container__output__start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.container__output__start__text{
    text-align: center;
    width: 336px;
}

h2{
    font-size: 1.5rem;
    color: var(--color-title-gray);
    margin-bottom: 20px;
}

p{
    font-size: 1rem;
    color: var(--color-darkGray);
}

.button__copy{
    width: 95%;
    height: 67px;
    background-color: white;
    color: var(--color-darkBlue);
    border: #0a3871 1px solid;
    border-radius: 24px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
}

#resultArea{
    resize: none;
    border: none;
    background-color: white;
    color: var(--color-darkGray);
    width: 95%;
    height: 80%;
    margin: 25px;
    font: 400 1.5rem var(--font);
}

.container__output__end{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-darkBlue);
    font-size: 1rem;
}

a{
    color: white;
    text-decoration: none;
}

@media (min-width: 600px) and (max-width: 1000px) {
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin-bottom: 30px;
        padding: 0;
    }

    .container__input{
        width: 90%;
        height: 650px;
        background-color: var(--color-background);
    
    }

    .container__input__area{
        width: 90%;
        height: 90%;
        background-color: var(--color-background);
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }

    #text{
        width: 100%;
        height: 80%;
        font: 400 2rem var(--font);
        color: var(--color-darkBlue);
        resize: none; 
        border: none;
        border-radius: 8px;
    }

    .container__output{
        width: 80%;
        height: auto;
        background-color: white;
        border-radius: 32px;
        margin: 20px;
        box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.1);
    }

    .container__output__end{
        width: 100%;
        height: 340px;
        margin: 30px;
    }

    #resultArea{
        width: 95%;
        height: 90%;
        font: 400 1.5rem var(--font);
    }

    .button__copy{
        width: 95%;
    }

    .output__image{
        display: none;
    }
    .container__input__area__text{
        width: 80%;
        margin-right: auto;
        font-size: 0.8rem;
        color: var(--color-darkGray);
    }

    
}

@media (max-width: 599px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin-bottom: 30px;
        padding: 0;
    }

    .container__input{
        width: 90%;
        height: 650px;
        background-color: var(--color-background);
    
    }

    .container__input__area{
        width: 90%;
        height: 90%;
        background-color: var(--color-background);
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }

    .container__input__area__text{
        width: 80%;
        margin-right: auto;
        font-size: 0.6rem;
        color: var(--color-darkGray);
    }

    .container__input__area__buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button__encrypt{
        width: 80%;
    }

    .button__decrypt{
        width: 80%;
    }

    #text{
        width: 100%;
        height: 80%;
        font: 400 2rem var(--font);
        color: var(--color-darkBlue);
        resize: none; 
        border: none;
        border-radius: 8px;
    }

    .container__output{
        width: 80%;
        height: auto;
        background-color: white;
        border-radius: 32px;
        margin: 20px;
        box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.1);
    }

    .container__output__end{
        width: 100%;
        height: 340px;
        margin: 30px;
    }

    #resultArea{
        width: 95%;
        height: 90%;
        font: 400 1.5rem var(--font);
    }

    .button__copy{
        width: 95%;
    }

    .output__image{
        display: none;
    }
}